* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
}


body {
    font-family: 'Raleway', sans-serif;
}

.navbar-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.logo-home img {
    width: 150px;
    height: auto;
}

.nav-menu-home {

    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu-home li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
}

.hero-home {
    position: relative;
    width: 100%;
    height: 90vh;
}

.hero-home-2 {
    position: relative;
    width: 100%;
    
    
  
}

.hero-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text-home {
    position: absolute;
    top: 50%;
    right: 45%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
   
}
.hero-text-home-2 {
    position: absolute;
    top: 50%;
    right: 45%;
    left: 5%;
    width: 750px;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
   
}
.image-home-2{
    width:220px;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.hero-text-home h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text-home p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero-text-home button {
    padding: 10px 20px;
    background-color: #B76EA1;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.buton{
    padding: 10px 20px;
    background-color: #B76EA1;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.hero-text-home button:hover {
    background-color: #3AB9AC;
}



.hero-text-home-left button {
    padding: 10px 20px;
    background-color: #4FD1C5;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}


.hero-text-home-left button:hover {
    background-color: #3AB9AC;
}





    .login-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        
        padding: 20px;
    }
    .logo {
        position: absolute;
        top: -150px;
        right: 20px;
    }

    .jurado{
        display: flex;
        align-items: center; /* Alinea los items verticalmente al centro */
        justify-content: center; /* Alinea los items horizontalmente al centro */
      
        
    }
    .container-challenge{
        width: 60%;
        margin: 0 auto; /* Esto centra el contenedor */
        text-align: center;
       
    }
.reglas{
    margin-top: -100px;
}
.artinmotion{
    margin-top: -100px;
    
}
@media (max-width: 600px) {
    .artinmotion  {
    
        height: 620px;
        background-color: #000;

    }
}
@media (max-width: 550px) {
    .artinmotion  {
    
        height: 850px;
  

    }
}

.titulo{

    position: absolute;
        color: #fff;
    font-family: 'air';

}
.titulo-air{
    font-family: 'Airstrike',;
}

    .reglas-text
         {
            display: flex;
            align-items: center; /* Alinea el texto verticalmente al centro */
            justify-content: center; /* Alinea el texto horizontalmente al centro */
            padding: 40px;
        }
    

    .d-flex-center{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .hero-text-home-left{
        position: absolute;
        top: 50%;
        right: 40%;
        transform: translateY(-50%);
   
        color: #fff;
        font-family: 'Noto Sans', sans-serif;
        
        width: 600px;
    }
    .card-jurado{

       /* No repetir la imagen */
         height: 450px;
         border-top-left-radius: 35px;
         padding: 20px;
         text-align: center; /* Centra el texto */
         color: white; /* Color del texto */
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 360px; /* Ancho fijo para las tarjetas */
         
         
    }
    .team-1{
        background-image: url('../images/team/team.png');
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
        border-top-left-radius: 25px;
           
    }
    .team-2{
        background-image: url('../images/home/team-2.png');
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
            
     
    }
    /*  espaciado entre col */
    .gap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    }

    .team-3{
        background-image: url('../images/home/team-3.png');
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
        border-radius: 0%;
        border-top-right-radius: 25px; 
            }


    .text-card{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #545454 ;
       /*  background-color: #545454;*/
        position: absolute;
        top: 320px;
        height: 130px;
         padding: 20px;
         

            
    }
    .contenedor {
        display: flex;
        gap: 30px; /* Espacio entre los divs */
    }
    .image-2{
        border-radius: 15px;
        padding-left: 35px;
    }



   
    .card-hero-dashboard{ /*  imagen hero dasboard aprobados */
        margin-top: 20px;
        background-image: url('../images/bg-dash.png');
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
        border-radius: 15px;
        height: 300px;
      

    }



    .card-hero{ /*  imagen hero dasboard aprobados */
        margin-top: 20px;
        background-image: url('../images/bg-dash.png');
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
        border-radius: 15px;
        height: 300px;
      

    }

    .card-hero-solicitudes{ /*  imagen hero dasboard solicitudes */
        margin-top: 20px;
        background-image: url('../images/bg-solicitudes.png');
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
        border-radius: 15px;
        height: 300px;
      

    }
    



     .text-card-dasboard{ /*  texto del hero dasboard */
        color: #fff;
        background-color: #30363A;
        position: absolute;
        top: 140px;
        height: 80px;
        width: 300px;
         padding: 15px;
         margin-left: 30px;
         border-radius: 10px;
     }
.tabla{
    width: 100%;
    background-color: #30363A;
   
}

   .tabla-title{ /*  barra de la tabla  */
    background-color: #4FD1C5;
    border-radius: 30%;
    height: 60px;
    border-collapse: collapse;
 
   }
   .tabla-title-rechazados{ /*  barra de la tabla  */
    background-color: #D17E4F;
    border-radius: 30%;
    height: 60px;
    border-collapse: collapse;
 
   }




   .fila-table{
    background-color: #ffffff;
    height: 80px;
    
    border-radius: 10px;
    border: 5px solid #30363A;
    overflow: hidden; 
    border-collapse: collapse;

    
   }
   table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px; /*bordes redondeados  */
    overflow: hidden; /*  bordes redondeados  */
    margin-top: -45px;
    
}
tr img{ /*  imagen user  */
    padding: 10px;
}



/* barra de buscador */
.search{
    position: absolute;
        top: 20px;
        right: 0px;
        height: 80px;
        width: 300px;
         padding: 15px;
         margin-left: 30px;
         border-radius: 10px;
   }
   .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    }

    .search_input{
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 200px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    .logout{
        background-color: #4FD1C5;
        width: 240px;
        border-radius: 10px;
        padding: 10px;
        
    }

    /*  logo Omoda Dashboard  */
    .img-dasboard{
        
       width: 180px;
    }


    .search_input ,svg{
        width: 15px;
    }


    .fila-table img{
        width: 70px;
    }
    .contador{
        display: flex;
        position: absolute;
        top: -40px;
        right: -220px;
        height: 150px;
        width: 300px;
         padding: 15px;
         margin-left: 30px;
         
   }
    .text-contador{
        display: flex;
        position: absolute;
        top: 40px;
        right: 205px;
        height: 150px;
        
       
       
    }
    .icono{
        width: 50px !important;
      
    }
    td{
        text-align: center;

    }
 



    .modal {
        display: none ; /* Ocultar por defecto */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Fondo negro con opacidad */
        padding-top: 5px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto; /* Centramos el modal */
        padding: 5px;
        border: 1px solid #888;
        width: 100%;
        
    }

    /* Estilos para el botón de cierre */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Estilos para el iframe del PDF */
    #pdfViewer {
        width: 100%;
        height: 650px;
        border: none;
    }
    #pdfModal{
        display: none;
    }
 


    @media (max-width: 600px) {
        .h1  {

            font-size: 30px;

        }
    }



    @media (max-width: 600px) {
        .hero-text-home  {
         
        position: absolute;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        right: 10%;
        }
    }
 
    
        

    @media (max-width: 600px) {
        .hero-text-home h1 {
            
         text-align: center;
      
         font-size: 30px;
        }
    }
    @media (max-width: 600px) {
        .hero-text-home p {
         text-align: center;
        
         font-size: 12px;
         color: #ddd;
        }
    }
    @media (max-width: 600px) {
        .hero-text-home button  {
         text-align: center;
         font-size: 10px;
        }
    }
    @media (max-width: 600px) {
        .navbar-home  {
        display:  none !important;
        }
    }

    @media (max-width: 900px) {
        .navb-dash  {
        display: none;
        }
    }
    @media (max-width: 900px) {
        .conten-dash  {
       max-width:  100% !important;
       flex: 0 0 100%;
        }
    }

    @media (max-width: 900px) {
        th  {
     font-size: 12px;
        }
    }
    @media (max-width: 900px) {
        .search{
     right: -13%;
        }
    }
    @media (max-width: 900px) {
        .accordion{
     margin-top: 100px;
        }
    }

     @media (max-width: 600px) {
        .text-card-dasboard  {
        width: 200px;
        height: 60px;
        }
    }

    
    @media (max-width: 600px) {
        .text-card-dasboard ,h2  {
        font-size: 18px !important;
        }
    }
    
    @media (max-width: 600px) {
        .contador img  {
        height: 90px;
        }
    }

    @media (max-width: 600px) {
        .text-contador h1  {
        height: 25px;
        }
    }
    
    
   
    @media (min-width: 600px) {
        .navbar-movil  {
        display: none;
        }
    }
    @media (max-width: 600px) {
        .card-hero-dashboard  {
        height: 200px !important;
        }
    }
   

    @media (max-width: 600px) {
        .bg-jurado  {
        height: 900px !important;
        }
    }
   

    @media (max-width: 768px) {
        .bg-jurado  {
        height: 1000px !important;
        }
    }

    @media (max-width: 572px) {
        .bg-jurado  {
        height: 1300px !important;
        }
    }
    @media (max-width: 550px) {
        .card-juradonew  {
        height: 350px !important;


        }
    }

    @media (max-width: 550px) {
        .jurado-text  {
    
        width: 250px;
        margin-top: 250px !important;
        margin-bottom: 250px;
        }
    }
    




    
    
    @media (max-width: 600px) {
        .juez {
        margin-bottom: 20px;
        }
    }
    @media (max-width: 600px) {
        .conten-footer {
        margin-top: 100px;
        }
    }
    @media (max-width: 600px) {
        .image-footer {
       text-align: center;
        }
    }

    @media (max-width: 600px) {
        .premio {
       display: block !important;
        }
    }

    @media (max-width: 600px) {
        .premio-1 {
       height: 150px !important;
        }
    }
  
  
  /*  @media (max-width: 600px) {
        .text-card-premios,p  {
       margin-top: -170px;
        }
    }*/
    @media (max-width: 600px) {
        .text-card-premios {
            position: relative;
        top: 5px;
        }
    }




    @media (max-width: 600px) {
        .linia-2 {
      margin-top: 100px;
        }
    }

    @media (max-width: 600px) {
        .hero-text-home-left{
            position: absolute;
            top: 50%;
            right: 20%;
            transform: translateY(-50%);
       
            color: #fff;
            font-family: 'Noto Sans', sans-serif;
            
            width: 280px;
        }
    
    }

    

    .footer{
        padding: 50px;
        background-color: #30363A;
    }
    .text-footer{
    position: absolute;
    display: flex;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: right;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    }

    .linia{
        height: 5px;
        background-color: #A6B7BE;
        opacity: 35%;
    }
    .linia-2{
        height: 2px;
        background-color: #A6B7BE;
        opacity: 25%;
    }
    .contacto-footer{
        margin-right: 20px;
    }

    @media (max-width: 992px) {
        .login100-form-2 {
          width: 30%;
          padding-left: 30px;
          padding-right: 30px;
        }
      
        .login100-more-2 {
          width: 70%; 
        }
      }
      .logo-registro{
        position: absolute;
        top: 40px;
        right: 250px;
        height: 60px;
        width: 60px;
         padding: 15px;
         margin-left: 30px;
         border-radius: 10px;
      }

      .items-registro{

        display: flex;

      }
    
      .img-form{
        background-image: url('../images/registro/registro.png');
       
        width: 100vh;
        height: 100vh;
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
     
      }
      .formm{
        height:100vh;
         
         
     
      }

    .form-item{
        display: flex; 
        gap: 15px;  
        
    }
    .body-formulario {
        background-image: url('../images/home/bg-registro.png');
        background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;

    }
    .form-control{
        border-radius: 10px;
        text-align: center;
        height: 60px !important;
        
    }
    .boton-formulario{
        width: 55%;
        
        text-align: center;
    }

.form-group{
    width: 100%;
}
.form-boton{
    text-align: center;
   
}
.bg-color{
    background-color: 30363A;
}
body, html {
    width: 100%;
    overflow-x: hidden; /* Evitar el desplazamiento horizontal */
}
.active{
    width: 250px;
}
.icono-descarga{
    width: 45px !important;
    text-align: center;
}
.fila-redonda{
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 50px;

}
/* iconos del dash menu */
.img-dash{
    width: 34px;
}

.bg-car{
    background-image: url('../images/home/bg\ car.png');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
}
.premios{
    background-image: url('../images/home/premios.png');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center;
}
.premio-1{

    background-image: url('../images/home/premios-card.png');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
    
}
.premios-conten{
  
  display: flex;
  justify-content: center;
  align-items: center;
    
}
.text-card-premios{

    text-align: center;
}
.card-premios{

    
      height: 300px;
      padding: 20px;
      text-align: center; /* Centra el texto */
      color: white; /* Color del texto */
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      margin-bottom: 50px;

      
 }
 .titulo-premios{
    font-family: air;
    color: #fff;
 }
 .text-regalo{
   
    margin-top: 150px;
    
    color: #aaa;
 }



 .bg-jurado{
    background-image: url('../images/home/bg-jurado.png');
    background-size: cover;  /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
    height: 600px;
    
  
 }
 .jurado-1{
    background-image: url('../images/home/jurado-1.png');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
     }
     .jurado-text{
        margin-top: 280px;
     }
     .card-juradonew{

        /* No repetir la imagen */
          height: 100%;
          padding: 20px;
          text-align: center; /* Centra el texto */
          color: white; /* Color del texto */
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 400px; /* Ancho fijo para las tarjetas */
          gap: 10px;
          max-width: 90%;    
          
          
     }


     .bg-planet{
        background-image: url('../images/home/planets.png');
        background-size:auto; /* Ajustar la imagen al tamaño del contenedor */
        background-position: center; /* Centrar la imagen */
        background-repeat: no-repeat;
        width: auto; height: 1900px;
        object-fit: contain;
      
     }

   .card-clave{
    background-color: #D9D9D9;
    height: 150px;

    
   }
   .titulo-claves{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .ganador{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .fecha-clave{
    margin-top: 200px;
   }
   .bg-pilares{

    background-image: url('../images/home/bg-pilares.png');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
    height: 100vh; width: auto;
    margin-top: -50px;
   }
   .pilares-conten{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   }
   .card-pilares{
    background-image: url('../images/home/card-pilares.png');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
    height: 350px;
    
    display: flex;           /* Activa flexbox */
    flex-direction: column;  /* Coloca los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra horizontalmente */
    text-align: center; 
        /* Centra el texto dentro de los elementos */
     
  
   }

   @media (max-width: 992px) {
    .card-pilares {
        height: 230px;
        margin-bottom: 10px;
    }
 }
 @media (max-width: 600px) {
    .btn-block {
        max-width: 70% !important;
    }
 }
   .pilares-text{
position: absolute;
top: 10%;
   }
   .pilares{
    margin-top: 100px;
   }
   .titulo-pilares{
    margin-top: 60px;
   }

   .accordion{
    max-width: 60%;

   }
   .card-header{
    background-color: #343a40 !important;
    

   }
   .btn-link{
    color: white !important;
   }
   .card-body{
   
    width: 100%;
   }
   .card{
    background-color: transparent !important;
   }
   .clave{
    padding: 10px;
   }
   .card {
    left: 25%;
    
   }
   .bg-reto{
    background-image: url('../images/home/bg-reto.png');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -30px;
   }
   .user-formulario{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh;
   }
   .cent{

    margin: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 
    height: 100vh;
   }
   .log-rest{
    position: absolute;
    top: 5%;
    right: 5%;
   }
   .text-reto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    margin-left: 100px;
    margin-top: -100px;
   }




   @media (max-width: 600px) {
     .text-regalo {
      margin-top: -10px !important;
        

    }
}



   @media (max-width: 550px) {
    .text-reto  {
        margin-top: 0px;
        width: 90% !important;
        margin-left: 10px;

    }
}
   .data-perfil{
   position: relative;
   top: 10%;
    height: 100vh;
   }
   .plantilla{
    margin-top: 20px;
    width: 100%;
   }
   .form-control-file{
    color: #D9D9D9;
   }
   .preguntas{
    display: flex;
    justify-content: center;
    align-items: center;
   }